@use "sass:color";
$base: green;
$color: blue;
$red-color: red;


@mixin article-card($color, $border-color: $base, $font-size: 1rem){
    border:2px solid color.adjust($color, $lightness: +10%);
};

.content-1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 15px;
    p{
        padding: 15px;
    }
    

    .artc-1 {
        @include article-card($base);
        color: $color;
        
    }
    .artc-2 {
        @include article-card($base);
        color: $red-color;
       
    }
    .artc-3 {
        @include article-card($base);
        color: $color;
        
    }
    .artc-4 {
        @include article-card($base);
        color: $red-color;
        
    }
}

.content-2 {
    @include article-card($color);
    margin: 15px;
    p{
        color: $base;
        text-align: center;
        font-size: 24px;
    }
}

.main {
    @include article-card ($red-color);
    width: 85%;
    margin: auto;
    .title {
        color: $base;
        margin:auto;
        padding-top: 2rem;
        width: fit-content;
        text-align: center;
        border-bottom: 2px solid $color;
    }

}